//variables
$colorW: #090909;
$border:#090909;
$font: Arial, Helvetica, sans-serif;
body{
	font-family: $font;
	margin: 0;
}

html{
	border-top: 17px solid $border;
}

h2{
	font-size: 18px;
	color: $colorW;
	border-bottom: 6px solid $border;
	padding-bottom: 12px;
	padding-left: 20px;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: 0 7px;
}